
  {% extends 'base.html' %}
  {% block nav %}
    <!-- Navigation -->
      <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
        <div class="container">
          <a class="navbar-brand js-scroll-trigger" href="#page-top">RIT Games</a>
          <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars"></i>
          </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav text-uppercase ml-auto">
              <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="#profile">Profile</a>
              </li>
              <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="#recent">Adicionados Recentemente</a>
              </li>
              <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="#accessed">Serve Status</a>
              </li>
              <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="#contact">Deixe o Feedback</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
  {% endblock %}

 {% block header %}
       <!-- Services -->
  <section class="page-section" id="profile" >
    <div class="container" >
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase">Profile</h2>
          <h3 class="section-subheading text-muted">Curta nosso ambiente <i>RIT</i>.</h3>
        </div>
      </div>
      <div class="row text-center">
        <div class="col-md-4">
         <div class="team-member">
            <img class="mx-auto rounded-circle" src="../static/img/about/1.jpg" alt="">
            <h4>{{ user.username }}</h4>
            <p class="text-muted">Tweet MSG</p>
            <ul class="list-inline social-buttons">
              <li class="list-inline-item">
                <a href="#">
                  <i class="fab fa-twitter"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <i class="fab fa-facebook-f"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-4" >
         <br>
         <br>
         <br>
         <div class="alert alert-primary" role="alert">
         {{ user['nome'] }} <br>
         {{ user['email'] }} <br>
         </div>
            <button class="btn btn-outline-primary float-left" data-toggle="modal" data-target="#editModalCenter">Alterar Game</button>
            <a class="btn btn-outline-success float-right"  role="button" href={{ "/dev/" + user.login }}>Adicionar Game</a>
        </div>
        <div class="col-md-4">
          <span class="fa-stack fa-4x">
              <i class="fa fa-window-close" aria-hidden="true"></i>
            <i class="fa fa-pencil-square-o"></i>
          </span>
          <h4 class="service-heading"><a class="btn btn-outline-dark" role="button" href={{ '/start/' + user.login }}>Deixar DevZone</a></h4>
          <p class="text-muted">até o objetivo final!</p>
        </div>
      </div>
    </div>
  </section>
  {% endblock %}

  {% block content %}
<!-- Recent -->
  <section class="bg-light page-section" id="recent">

      <div class="container">

          <div class="row">
                <div class="col-lg-12 text-center">
                <h2 class="section-heading text-uppercase">Adicionados Recentemente</h2>
           </div>

      </div>

          <div class="row">

            <div class="container-fluid col-md-4 col-sm-6 float-left">

                     <div class="">
                          <div class="">
                              <!-- Project Details Go Here -->
                              <h2 class="text-uppercase">PAC-Man</h2>
                              <p class="item-intro text-muted">.</p>
                              <img class="img-fluid d-block mx-auto" src="../static/img/portfolio/pacman.png" alt="">
                          </div>
                     </div>
            </div>

            <div class="container-fluid col-md-4 col-sm-6">
                <br>
                <br>
                <br>
                <br>
                <span class="alert alert-success">
                    <h7 class="font-weight-bold">Status:</h7> Online
                </span>
                <br>
                <br>
                <span class="alert alert-info">
                    <h7 class="font-weight-bold">Categoria:</h7> Archade
                </span>
                <br>
                <br>
                <span class="alert alert-info">
                    <h7 class="font-weight-bold">Acessos:</h7> Sexta-Feira
                </span>
                <br>
                <br>
                <button class="btn btn-info">Compartilhar</button>
          </div>
      </div>

      </div>
  </section>

  <!-- About -->
  <section class="page-section" id="accessed">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase">Todos já adicionados</h2>
          <h3 class="section-subheading text-muted">Tudo que você já adicionou <i>você</i>.</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <ul class="timeline">
            <li>
              <div class="timeline-image">
                <img class="rounded-circle img-fluid" src="../static/img/about/1.jpg" alt="">
              </div>

              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4>{{ user['login'] }}</h4>
                  <div class="timeline-body">
                  <p class="text-muted">
                    <h4 class="subheading">
                    <div class="badge badge-pill badge-info">Bem-vindo</div>
                </h4>
                    <h6 class="font-weight-bold text-success">a sua Dev Dashboard!</h6>
                </div>
                </div>
                  <h4 class="subheading"><a href="#" class="badge badge-pill badge-info">Remover Jogo</a></h4>
              </div>
            </li>

             <div class="container-fluid col-md-4 col-sm-6 float-left">

                 <div class="">
                      <div class="">
                          <!-- Project Details Go Here -->
                          <h4 class="text-uppercase">PAC-Man</h4>
                          <img class="img-fluid d-block mx-auto" src="../static/img/portfolio/pacman.png" alt="">
                          <br>
                          <button class="btn btn-outline-success" data-toggle="modal" data-target="#gameModal1">Detalhes</button>
                      </div>
                 </div>

            </div>
           <div class="container-fluid col-md-4 col-sm-6 float-left">

                 <div class="">
                      <div class="">
                          <!-- Project Details Go Here -->
                          <h4 class="text-uppercase">Palavras Cruzadas</h4>
                          <img class="img-fluid d-block mx-auto" src="../static/img/portfolio/puzzle.jpg" alt="">
                          <br>
                          <button class="btn btn-outline-success" data-toggle="modal" data-target="#gameModal2">Detalhes</button>
                      </div>
                 </div>

            </div>
            </li>

          </ul>
        </div>
      </div>
    </div>
  </section>
 {% endblock %}


  {% block modal %}
      <!-- Form Modal -->
    <div class="modal fade" id="editModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Seja um RITer!</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
             <div class="container align-content-center">

                <form class="row">

                 <div class="row">

                     <div class="col-6">
                          <label for="validationServerUsername" class="font-weight-bold">Username</label>
                          <div class="input-group">
                            <div class="input-group-prepend">
                              <span class="input-group-text" id="inputGroupPrepend3">@</span>
                            </div>
                            <input type="text" class="form-control" id="validationServerUsername" placeholder="Username" aria-describedby="inputGroupPrepend3">
                            <div class="invalid-feedback">
                              Por favor escolha um username que não tenha sido usado.
                            </div>
                      </div>
                    </div>

                     <div class="col-6">
                          <label for="validationServerEmail" class="font-weight-bold">E-mail</label>
                          <input type="text" class="form-control" id="validationServerEmail" placeholder="E-mail">
                          <div class="invalid-feedback">
                             Por favor escolha um e-mail que não tenha sido usado.
                          </div>
                     </div>

                    <div class="col-6">
                        <button type="submit" class="btn btn-secondary btn-sm">Alterar Login</button>
                    </div>

                     <div class="col-6">
                         <button type="submit" class="btn btn-secondary btn-sm">Alterar E-mail</button>
                     </div>
                     <br>
                     <br>
                     <div class="col-6">
                         <label for="inputPassword1" class="font-weight-bold">Senha Atual</label>
                         <input type="password" class="form-control" id="inputPassword1" required>
                         <br>
                     </div>
                    <div class="alert alert-dark col-6" role="alert">
                        Escolha uma senha contendo simbolos e letras
                    </div>
                     <div class="col-6">
                         <label for="inputPassword1" class="font-weight-bold">Crie uma Senha</label>
                         <input type="password" class="form-control" id="inputPassword1">
                         <br>
                         <button type="submit" class="float-left btn btn-secondary btn-sm">Alterar Senha</button>
                     </div>
                     <div class="col-6">
                         <label for="inputPassword1" class="font-weight-bold">Confirme a Senha</label>
                         <input type="password" class="form-control" id="inputPassword1">
                         <br>

                      </div>

                     </div>

                </form>
              </div>
          </div>
        </div>
      </div>
    </div>

   <!-- Login Modal -->
    <div class="modal fade" id="loginModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Entre para começar!</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
             <div class="container align-content-center">

                <form class="row">

                 <div class="row">

                    <div class="col-6">
                        <label for="inputLogin" class="font-weight-bold">Login</label>
                        <input type="text" class="form-control">
                    </div>

                     <div class="col-6">
                         <label for="inputPassword1" class="font-weight-bold">Senha</label>
                         <input type="password" class="form-control" id="inputPassword">
                     </div>
                     </div>

                </form>
              </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            <button type="submit" class="btn btn-success">Entrar</button>
          </div>
        </div>
      </div>
    </div>
 <!-- Portfolio Modals -->
  <!-- Modal 1 -->
  <div class="portfolio-modal modal fade" id="gameModal1" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" >
      <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
          <div class="lr">
            <div class="rl"></div>
          </div>
        </div>
        <section class="bg-light page-section" id="recent">

              <div class="row">
                <div class="container-fluid col-md-4 col-sm-6 float-left">
                     <div class="">
                          <div class="">
                              <!-- Project Details Go Here -->
                              <h2 class="text-uppercase">PAC-Man</h2>
                              <p class="item-intro text-muted">.</p>
                              <img class="img-fluid d-block mx-auto" src="../static/img/portfolio/pacman.png" alt="">
                          </div>
                     </div>
                </div>

                <div class="container-fluid col-md-4 col-sm-6">
                    <br>
                    <br>
                    <br>
                    <br>
                    <span class="alert alert-success">
                        <h7 class="font-weight-bold">Status:</h7> Online
                    </span>
                    <br>
                    <br>
                    <span class="alert alert-info">
                        <h7 class="font-weight-bold">Categoria:</h7> Archade
                    </span>
                    <br>
                    <br>
                    <span class="alert alert-info">
                        <h7 class="font-weight-bold">Acessos:</h7> Sexta-Feira
                    </span>
                    <br>
                    <br>
                    <button class="btn btn-info">Compartilhar</button>
              </div>
          </div>

        </section>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal 2 -->
  <div class="portfolio-modal modal fade" id="gameModal2" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
          <div class="lr">
            <div class="rl"></div>
          </div>
        </div>
          <section class="bg-light page-section" id="recent">
              <div class="row">
                <div class="container-fluid col-md-4 col-sm-6 float-left">
                     <div class="">
                          <div class="">
                              <!-- Project Details Go Here -->
                              <h2 class="text-uppercase">Passatempo</h2>
                              <p class="item-intro text-muted">.</p>
                              <img class="img-fluid d-block mx-auto" src="../static/img/portfolio/puzzle.jpg" alt="">
                          </div>
                     </div>
                </div>

                <div class="container-fluid col-md-4 col-sm-6">
                    <br>
                    <br>
                    <br>
                    <br>
                    <span class="alert alert-success">
                        <h7 class="font-weight-bold">Status:</h7> Online
                    </span>
                    <br>
                    <br>
                    <span class="alert alert-info">
                        <h7 class="font-weight-bold">Categoria:</h7> Archade
                    </span>
                    <br>
                    <br>
                    <span class="alert alert-info">
                        <h7 class="font-weight-bold">Acessos:</h7> Sexta-Feira
                    </span>
                    <br>
                    <br>
                    <button class="btn btn-info">Compartilhar</button>
              </div>
          </div>
        </section>
      </div>
    </div>
  </div>

  <!-- Modal 3 -->
  <div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
          <div class="lr">
            <div class="rl"></div>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-lg-8 mx-auto">
              <div class="modal-body">
                <!-- Project Details Go Here -->
                <h2 class="text-uppercase">Passatempo</h2>
                <p class="item-intro text-muted">Jogos simples e divertidos.</p>
                <img class="img-fluid d-block mx-auto" src="../static/img/portfolio/puzzle.jpg" alt="">
                <p>Passe seu tempo com jogos que ajudam seu raciocíonio lógico!</p>
                <button class="btn btn-primary" data-dismiss="modal" type="button">
                  <i class="fas fa-times"></i>
                  Close Project</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endblock %}


