 <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase">Navega por nossas cateogiras de jogos</h2>
          <h3 class="section-subheading text-muted">Rápido, Fácil e prático.</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 col-sm-6 portfolio-item">
          <a class="portfolio-link" data-toggle="modal" href="#portfolioModal1">
            <div class="portfolio-hover">
              <div class="portfolio-hover-content">
                <i class="fas fa-plus fa-3x"></i>
              </div>
            </div>
            <img class="img-fluid" src="../static/img/portfolio/pacman.png" alt="">
          </a>
          <div class="portfolio-caption">
            <h4>Start</h4>
            <p class="text-muted">Categoria I</p>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 portfolio-item">
          <a class="portfolio-link" data-toggle="modal" href="#portfolioModal2">
            <div class="portfolio-hover">
              <div class="portfolio-hover-content">
                <i class="fas fa-plus fa-3x"></i>
              </div>
            </div>
            <img class="img-fluid" src="../static/img/portfolio/Tooth_and_Tail.png" alt="">
          </a>
          <div class="portfolio-caption">
            <h4>Explore</h4>
            <p class="text-muted">Categoria II</p>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 portfolio-item">
          <a class="portfolio-link" data-toggle="modal" href="#portfolioModal3">
            <div class="portfolio-hover">
              <div class="portfolio-hover-content">
                <i class="fas fa-plus fa-3x"></i>
              </div>
            </div>
            <img class="img-fluid" src="../static/img/portfolio/puzzle.jpg" alt="">
          </a>
          <div class="portfolio-caption">
            <h4>Play</h4>
            <p class="text-muted">Categoria III</p>
          </div>
        </div>
        </div>
      </div>
    </div>
